<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Date</th>
      <th>Check Number</th>
      <th>Company Name</th>
      <th>Invoice Number</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% checks.each do |check| %>
      <tr>
        <td><%= check.created_at&.to_date %></td>
        <td><%= check.check_number %></td>
        <td><%= check.name %></td>
        <td><%= check.invoice_numbers %></td>
        <td>
          <% if check.image.attached? %>
            <%= image_tag check.image, class: "img-thumbnail", width: "100", height: "100" %>
          <% else %>
            <p>No Image Attached</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
